<!-- templates/registration/login.html -->
{% extends "../loginbase.html" %} {% load crispy_forms_tags %} 
{% block title %}Reset Password{% endblock title %} 
{% block header %}
<div class="d-flex flex-column justify-content-center">
          <div class="title-lg title-extra-bold">Forgot Password?</div>
          <p class="text-secondary">No worries we'll send you instructions.</p>
        </div>
{% endblock %}
{% block content %}
<form method="post" class="login-form" action="/accounts/password-reset/done/">
  {% csrf_token %} {{ form | crispy }}
  
  <div class="form-group mt-3">
    <button class="btn btn-primary btn-block">Reset Password</button>
  </div>
  <div class="form-group mt-3">
    <button class="btn btn-outline-info btn-block">
      <i class="fa-brands fa-windows"></i>
      Login with Microsoft
    </button>
  </div>
</form>
{% endblock content %}