{% extends "../adminbase.html" %}
{% block title %}Blog List{% endblock title %} 
{% block content %}
<div class="d-flex">
    <a href="{% url 'blog:createblog' %}" class="btn btn-info">
        <i class="fa fa-plus"></i>    New Blog
    </a>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>sr. no.</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Author</th>
                <th>Publish</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for post in blogs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ post.title }}</td>
                <td>{{post.slug}}</td>
                <td>{{post.author.username}}</td>
                <td>{{post.publish}}</td>
                <td>{{post.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
