{% load static %} {% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS - {% block title %}{% endblock %}</title>
    
    <link rel="icon" type="image/x-icon" href="/static/dist/assets/images/logo.png">
    <link rel="stylesheet" href="{% static '/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static '/dist/styles.css' %}" />
</head>
<body>
    {% block content %}{% endblock %}
<script src="{% static '/dist/runtime.js' %}" type="module"></script>
<script src="{% static '/dist/polyfills.js' %}" type="module"></script>
<script src="{% static '/dist/scripts.js' %}" defer></script>
<script src="{% static '/dist/main.js' %}" type="module"></script>
</body>
</html>